.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 4px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #fff;
}

.labels-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}

.label {
  width: 20px;
  height: 4px;
  border-radius: 5px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-text {
  font-size: 12px;
  font-weight: 500;
}

.edit-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.delete-task {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.edit-task {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
