.color-menu {
  position: relative;
}

.colorChange-button {
  // position: relative;
  width: 25px;
  height: 13px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.drop-down-colors {
  position: absolute;
  border-radius: 5px;
  background-color: rgb(172, 178, 184);
  padding: 5px;
  display: none;
  left: -5px;
}

.color-item {
  width: 25px;
  height: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px 0;
  list-style: none;

  &--active {
    &::before {
      content: "\2713";  
      color: rgb(46, 219, 40); 
      font-weight: bold;
      display: inline-block; 
      width: 3px; 
      height: 3px;
      position: relative;
      left: 30%;
      top: -30%;
    }
  }
}

.color-item:hover {
  opacity: 0.5;
}

.color-menu:hover .drop-down-colors {
  display: block;
  position: absolute;
  z-index: 10;
}