.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  column-gap: 15px;
}

.icons span{
  cursor: pointer;
  padding: 15px;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: rgb(230, 209, 175);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px; 

  & button {
    border: 2px solid rgb(78, 127, 177);
    background-color: transparent;
    color: rgb(197, 66, 40);
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: rgb(203, 217, 231);
    }
  }
}

.searchers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px; 
}

.label-searcher-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px; 

  & span {
    font-size: 12px;
    color: rgb(230, 85, 85);
  }
}

header {
  display: flex;
  align-items: center;
  padding: 5px 30px 10px;
  justify-content: space-between;
}

.calendar {
  height: 100%;
}

.weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  text-align: center;
}
